.container {
  width: min(100%, var(--container-width));
  margin: 0 auto;
}

.sm {
  --container-width: 640px;
}

.md {
  --container-width: 768px;
}

.lg {
  --container-width: 1024px;
}

.xl {
  --container-width: 1280px;
}

.xxl {
  --container-width: 1440px;
}

.full {
  --container-width: 100%;
}

.padding-none {
  padding: 0;
}

.padding-sm {
  padding: 16px;
}

.padding-md {
  padding: 32px;
}

.padding-lg {
  padding: 48px;
}

@media (max-width: 720px) {
  .padding-md,
  .padding-lg {
    padding: 20px;
  }
}
